.alert {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 18px;
}

.error {
    color: red;
    border: solid 2px red;
}

.success {
    color: green;
    border: solid 2px green;
}

.blog {
    display: flex;
    padding: 5px;
    border: solid 1px black;
    margin-bottom: 5px;
}